<h1>NEW TAG:</h1>

<form action="/tag" method="post">
  <label for="category-field">CATEGORY:</label>
  <input type="text" name="category" id="category-field">

  <input type="submit" value="ADD">
</form>
