<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Money Maker</title>
    <link <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>

  <nav>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/merchant">MERCHANTS</a></li>
      <li><a href="/tag">TAGS</a></li>
      <li><a href="/transaction">TRANSACTIONS</a></li>
    </ul>
  </nav>

    <%= yield %>

  </body>
</html>
