<h1>TRANSACTION HISTORY</h1>
<br>
  <a href="/transaction/new">ADD NEW TRANSACTION</a>
<br>
<br>
<br>
    <% for transaction in @transactions %>
    <h3><%= transaction.provider.name%> £<%= transaction.price %><br/>
      (<%= transaction.fund.category%>)</h3>
    <% end %>

    <h2>TOTAL YOU HAVE PAID: £ <%= @total %></h2>
