<h1>TRANSACTION HISTORY</h1>

    <% for transaction in @transactions %>
    <p>PROVIDER:<%= transaction.provider.name%></p>
    <p>FUND:<%= transaction.fund.category%></p>
    <p>PRICE:<%= transaction.price %></p>
    <% end %>
