<h1>TRANSACTION HISTORY</h1>
<h2>TOTAL: £ <%= @total %></h2>
<br>
<a href="/transaction/new">ADD NEW TRANSACTION</a>
    <% for transaction in @transactions %>
    <h3><%= transaction.provider.name%> £<%= transaction.price %><br/>
      (<%= transaction.fund.category%>)</h3>
    <% end %>
