<h1>YOUR PENSION PROVIDERS</h1>
<br>
  <a href="/provider/new">ADD NEW PROVIDER</a>
<br>
<br>
<br>
<table>
  <tr>
    <% for provider in @providers %>
    <td><h5><%= provider.name %>
      <br>
            <%= provider.fund.category %></h5>
      <br>
    <a href="/provider/<%= provider.id %>">Edit</a>

    <form action="/provider/<%= provider.id %>/delete" method="post">
      <input type="submit" value="DELETE">
    </form>
    </td>
    <% end %>
  </tr>
</table>
