<h1>NEWBIE:</h1>

<form action="/provider" method="post">
  <label for="name-field">NAME:</label>
  <input type="text" name="name" id="name-field">

  <label>
    SELECT FUND:
    <select name="fund_id">
      <% for fund in @funds %>
      <option value="<%= fund.id %>"><%= fund.category%></option>
      <% end %>
    </select>
  </label>

  <input type="submit" value="ADD">
</form>
