<form action="/merchant/<%= @merchants.id %>" method="post">

<label for="name-field">Name of Merchant</label>
<input type="text" name="Name of Merchant" id= name-field value="<%= merchants.name %>">

<input type="submit" value="Edit Merchant">

</form>
