<h1>MERCHANTS</h1>
<br>
  <a href="/merchant/new">ADD NEW</a>
<br>
<br>
<br>
  <% for merchant in @merchants %>
  <p><%= merchant.name %>
    <a href="/merchant/<%= merchant.id %>">Edit</a>

    <form action="merchant/:id/delete" method="post">
      <input type="submit" value="delete">
    </form></p>

<hr/>
  <% end %>
