<h1>MERCHANTS</h1>
<br>
  <a href="/merchant/new">ADD NEW</a>
<br>
<br>
<br>
<table>
  <tr>
    <% for merchant in @merchants %>
    <td><p><%= merchant.name %> <a href="/merchant/<%= merchant.id %>">Edit</a>
    </form></p></td>
    <% end %>
  </tr>
</table>
