<h1>ADD A NEW MERCHANT</h1>

<form action="/merchant" method="post">

  <label for="name-field">Name</label>
  <input type="text" name="name" id="name-field">

  <input type="submit" value="New Merchant">
</form>
