<h1>NEW FUNDS:</h1>

<form action="/fund" method="post">
  <label for="category-field">FUND:</label>
  <input type="text" name="category" id="category-field">

  <input type="submit" value="ADD">
</form>
